name: Deploy to EC2

on:
  workflow_run:
    workflows: ["CI Pipeline to build, test & push image to ECR"]
    types:
      - completed
  workflow_dispatch:
env:
  REGION_NAME: ${{ vars.REGION_NAME }}
  ECR_REPO_NAME: ${{ secrets.ECR_REPO_NAME }}
  EC2_HOST: ${{ secrets.EC2_HOST }}
  EC2_USER: ${{ secrets.EC2_USER }}
  EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}

jobs:
  deploy:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ env.EC2_HOST }}
          username: ${{ env.EC2_USER }}
          key: ${{ env.EC2_SSH_KEY }}
          script: |
            set -e

            aws ecr get-login-password --region ${{ env.REGION_NAME }} \
              | docker login --username AWS --password-stdin ${{ env.ECR_REPO_NAME }}

            cd /home/ubuntu/secure-webapp-deployment

            docker compose pull flaskapp
            docker compose up -d flaskapp
