name: CI Pipeline to build, test & push image to ECR
on:
    push:
        branches:
        - master
    pull_request:
        branches:   
        - master
    workflow_dispatch:
 
permissions:
  id-token: write 
  contents: read

env:
    REGION_NAME: ${{ vars.REGION_NAME }}
    GITHUB_ECR_ROLE_ARN: ${{ vars.GITHUB_ECR_ROLE_ARN }}
    ECR_REPO_NAME: ${{ vars.ECR_REPO_NAME }}

jobs:
  unit-tests:
    if: |
        github.event_name == 'workflow_dispatch' ||
        contains(github.event.head_commit.message, 'ci-run')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - name: Install deps
        run: |
          pip install -r requirements.txt
          pip install pytest

      - name: Run unit tests
        run: pytest tests/unit


  integration-tests:
    needs: unit-tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build & run test stack
        run: docker compose -f tests/docker-compose-test.yaml up -d --build

      - name: Run integration tests
        run: |
          pip install pytest requests
          pytest tests/integration

      - name: Cleanup
        run: docker compose -f tests/docker-compose-test.yaml down


  build-and-push:
    needs: integration-tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
            role-to-assume: ${{ env.GITHUB_ECR_ROLE_ARN }}
            aws-region: ${{ env.REGION_NAME }}


      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build image
        run: |
          docker build -t myapp:v1 .

      - name: Tag & push
        run: |
          docker tag myapp:v1 ${{ env.ECR_REPO_NAME }}:v1
          docker push ${{ env.ECR_REPO_NAME }}:v1